@import url("../../variables.css");

.recipe-card .card {
    height: 300px;
    overflow: hidden;
}

.recipe-card img {
    height: 200px;
    object-fit: cover;
    transition: transform 0.5s ease;
}

.recipe-card .card-body {
    height: 100px;
}

.recipe-card .card:hover {
    transform: scale(1.02);
    transition: 0.5s;
}
.recipe-card .card:hover img {
    transform: scale(1.05);
    transition: 0.5s;
}

.recipe-card .card-link {
    text-decoration: none;
    color: var(--text-color);
}

.recipe-card .card-title {
    text-transform: uppercase;
    font-size: 20px;
    font-weight: 500;
}
