@import url("../../variables.css");

header {
  user-select: none;
  width: 100%;
  /* position: fixed; */
  background-color: var(--bg-header-color);
  z-index: 1;
}

.navbar-brand img {
  width: clamp(120px, 20vw, 220px);
  height: auto;
}

.header-nav {
  background-color: var(--bg-header-color) !important;
  padding: 0px !important;
  box-shadow: 0 8px 11px rgb(14 55 54 / 40%);
  z-index: 1;
}

.container-fluid {
  padding: 0 60px !important;
}

@media (max-width: 992px) {
  .container-fluid {
    padding: 0 40px !important;
  }
}

@media (max-width: 768px) {
  .container-fluid {
    padding: 0 20px !important;
  }
}

@media (max-width: 480px) {
  .container-fluid {
    padding: 0 10px !important;
  }
}

.navbar .navbar-toggler {
  width: clamp(55px, 5vw, 70px);
}

.navbar .navbar-toggler .navbar-toggler-icon {
  width: clamp(10px, 5vw, 33px);
}

.navbar-nav {
  display: flex;

  width: 100%;
  top: 0;
  right: 0;
  align-items: center;
  justify-content: center;
  transition: 0.5s;
  column-gap: 0.5rem !important;
  gap: 20px !important;
}

.navbar .nav-link {
  font-family: "Times New Roman", Times, serif;
  font-size: 17px !important;
  /* font-weight: 700; */
  color: var(--text-color);
  padding: 0.5rem 1rem !important;
  text-decoration: none;
  border-radius: 5rem;
}

.navbar .nav-link:hover,
.navbar .nav-link.active {
  border-radius: 5rem;
  background-color: var(--gray-color);
  color: var(--bg-color) !important;

  transition: background 0.5s;
}

/* .profile {
    display: flex;
    align-items: center;
    column-gap: 0.5rem;
    cursor: pointer;
}

.profile img {
    width: 40px;
    object-fit: cover;
    object-position: center;
    border-radius: 50%;
}

.profile span {
    font-family: "Times New Roman", Times, serif;
    font-size: 15px;
    font-weight: 500;
} */

.profile button {
  max-width: 110px;
  background-color: transparent;
  font-size: 14px;
  color: var(--gray-color);
  border: 1px solid var(--gray-color);
  border-radius: 50px;
  padding: 5px 20px;
  cursor: pointer;
  margin-left: auto !important;
  justify-self: center;
}

.profile button:hover {
  background-color: var(--gray-color);
  color: white;
  transition: 0.3s;
}
