:root {
    --bg-header-color: #e4e2dd;
    --text-color: #1a2428;
    --gray-color: #4a4a48;
    --bg-color: #fff;
    --swiper-text-color: #fff;
    --separator-color: #bfbfbf;
    --max-width-website: 80%;
}
