@import url("../../variables.css");

.login-popup {
    position: absolute;
    z-index: 5;
    width: 100%;
    height: 100%;
    background-color: #00000090;
    display: grid;
}

.login-popup-container {
    place-self: center;
    width: max(25vw, 330px);
    background-color: var(--bg-header-color);
    display: flex;
    flex-direction: column;
    gap: 25px;
    padding: 25px 30px;
    border-radius: 8px;
    font-size: 14px;
    animation: fadeIn 0.5s;
}

.login-popup-container .close-icon {
    display: flex;
    flex-direction: row-reverse;
    font-size: 40px;
    cursor: pointer;
    margin-left: 90%;
}

.login-popup-title {
    display: flex;
    flex-direction: column;
}

.login-popup-title h2 {
    text-transform: uppercase;
    text-align: center;
    color: black;
}

.login-popup-title p {
    text-align: center;
    color: black;
    font-size: 15px;
}

.login-popup-inputs {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.login-popup-inputs input {
    outline: none;
    border: 2px solid black;
    padding: 10px;
    border-radius: 10px;
}

.login-popup-container button {
    border: none;
    padding: 10px;
    border-radius: 10px;
    background-color: var(--gray-color);
    font-size: 15px;
    color: white;
    cursor: pointer;
}

.login-popup-condition {
    display: flex;
    align-self: start;
    gap: 8px;
    margin-top: -15px;
}

.login-popup-condition input {
    margin-bottom: 35px;
}

.login-popup p span {
    color: var(--gray-color);
    font-weight: bold;
    cursor: pointer;
}

.login-popup .auth-switch {
    display: flex;
    align-items: center;
    justify-content: center;
}

.login-popup .auth-switch span {
    margin-left: 5px;
}
