@import url("../../variables.css");

.big-collection-card-wrapper {
    margin: 30px auto;
}

.big-collection-card-wrapper .big-collection-card {
    width: 100%;
    height: 500px;
    overflow: hidden;
}

.big-collection-card-wrapper .big-collection-card img {
    width: 100%;
    height: 500px;
    object-fit: cover;
    transition: transform 0.5s ease;
}

.big-collection-card-wrapper .big-collection-card:hover img {
    transform: scale(1.05);
    transition: 0.5s;
}

.big-collection-card-wrapper .card-link {
    text-decoration: none;
}

.big-collection-card-wrapper .big-collection-card .card-body {
    padding-top: 70px;
    padding-left: 50px;
    padding-right: 50px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.big-collection-card .card-body .card-subtitle {
    font-size: 13px;
    text-transform: uppercase;
    font-weight: bold;
}

.big-collection-card .card-body .card-title {
    font-size: 50;
    text-transform: uppercase;
    font-weight: bold;
}

.big-collection-card .card-body .card-description {
    font-size: 15px;
    font-weight: 450;
}
